.focusInput{
    border-color: green;
}

.baseInput{
    outline: grey;
    margin-left: 10px;
    padding: 15px;

}
.root{
    margin: 0 auto;
}

.error{
    border-color: red;
}

.cross{
    background: darkturquoise;
    border-radius: 2px;
    padding: 3px;
    margin: 5px;
}